<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Employee</title>
</head>
<body>
    <h1>Employee Portal</h1>

    <h2>Add a reimbursement request</h2>
    <form>
        <label for="r_amt">Amount</label>
        <input type="number" min="1" step="any" id="r_amt" name="r_amt" required/><br>
        
        <label for="r_desc">Description</label>
        <input type="text"  id="r_desc" name="r_desc" required><br>

       <label for="r_type">Type</label><br>
        <input type="radio" name="r_type" id="lodging" value="lodging">
        <label for="lodging">Lodging</label><br>
        <input type="radio" name="r_type" id="travel" value="travel">
        <label for="travel">Travel</label><br>
        <input type="radio" name="r_type" id="food" value="food">
        <label for="food">Food</label><br>
        <input type="radio" name="r_type" id="other" value="other">
        <label for="other">Other</label><br>
        <input type="button" value="Submit Request" id="submit_req">

        
    </form>

      <a href="employee_reimbursement_view.html"> view your past reimbursements</a>
      <br>
      <a href="employee_information_view.html">View/edit your personal information</a>
    <script src="..\scripts\employee_page.js"></script>
</body>
</html>