<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <meta charset="UTF-8">
  <title>Employee Reimbursement Records</title>
</head>
<body onload=getReimbursementsJSON()>




<h2>Your past Reimbursement tickets</h2>
<table id="emp_table">
  <thead>
    <tr>
        <th>Amount</th>
        <th>Date Submitted</th>
        <th>Date Resolved</th>
        <th>Description</th>
        <th>Requested by</th>
        <th>Resolved by</th>
        <th>Status</th>
        <th>Type</th>
      </tr>
  </thead>

  <tbody id="emp_table_rows">

  </tbody>   
</table>  

<script src="..\scripts\employee_reimbursement_view.js"></script>
</body>
</html>