<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Employee</title>
</head>
<body>
    <h1>Employee Portal</h1>

    <h2>Add a reimbursement request</h2>
    <form action="employee_page.html">
        <label for="r_amt">Amount</label>
        <input type="number" min="1" step="any" id="r_amt" name="r_amt" /><br>
        
        <label for="r_desc">Description</label>
        <input type="text"  id="r_desc" name="r_desc"><br>

       <label for="r_type">Type</label><br>
        <input type="radio" name="r_type" id="lodging" value="">
        <label for="lodging">Lodging</label><br>
        <input type="radio" name="r_type" id="travel" value="">
        <label for="travel">Travel</label><br>
        <input type="radio" name="r_type" id="food" value="">
        <label for="food">Food</label><br>
        <input type="radio" name="r_type" id="other" value="">
        <label for="other">Other</label><br>
        <input type="submit" value="Submit">

        
    </form>

    <h2>Your past Reimbursement tickets</h2>
    <table>
        <tr>
            <th>Amount</th>
            <th>Date Submitted</th>
            <th>Date Resolved</th>
            <th>Description</th>
            <th>Requested by</th>
            <th>Resolved by</th>
            <th>Status</th>
            <th>Type</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
    </table>    

</body>
</html>