<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Employee Info Update Page</title>
</head>
<body>

<h3>Update personal information</h3>
 <form>

    <label for="new_username">New Username</label>
    <input type="text"  id="new_username" name="new_username" required><br>

    <label for="new_password">New Password</label>
    <input type="text"  id="new_password" name="new_password" required><br>

    <label for="new_firstname">New First Name</label>
    <input type="text"  id="new_firstname" name="new_firstname" required><br>

    <label for="new_lastname">New Last Name</label>
    <input type="text"  id="new_lastname" name="new_lastname" required><br>

    <label for="new_email">New Email</label>
    <input type="text"  id="new_email" name="new_email" required><br>

    <input type="button" value="Submit Changes" id="submit_update">
   

    
</form>


<script src="..\scripts\employee_information_update_view.js"></script>
</body>
</html>