<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Employee Reimbursement Records</title>
</head>
<body>


    <h2>All Reimbursement tickets</h2>
    <table>
        <tr>
            <th>Amount</th>
            <th>Date Submitted</th>
            <th>Date Resolved</th>
            <th>Description</th>
            <th>Requested by</th>
            <th>Resolved by</th>
            <th>Status</th>
            <th>Type</th>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
    </table>  


</body>
</html>
